<!--
<section class="section">
  <div class="columns is-fullheight">
    <div class="column">
      <%#= render @stream, thoughts: @thoughts %>
    </div>
    <div class="column is-3">
      <div class="box">
        <%#= render "shared/flash_notification" %>

        <div class="block">
          <%#= render "form", stream: @stream %>
        </div>
      </div>
    </div> <!-- class="column" --
  </div> <!-- class="columns" --
</section>
-->
