<div class="flex flex-col text-center">
  <%= image_tag "logo-square.png", class: "w-48 mx-auto xs:mb-6 sm:mb-12" %>
</div>

<%= form_for resource,
             as: resource_name,
             url: password_path(resource_name),
             html: { method: :post } do |f|
  %>
  <div class="relative mb-4">
    <%= f.email_field :email, autocomplete: "email",
                      placeholder: " ",
                      class: "gt-floating-input peer" %>

    <%= f.label :email, class: "gt-floating-label overflow-hidden" do %>
      <div class="absolute inset-y-0 left-0 flex items-center pl-2 pointer-events-none">
        <i class="text-violet-300 fas fa-envelope"></i>
      </div>
      email address
    <% end %>
  </div>

  <div class="text-center pt-1 mb-6 lg:mb-12">
    <button class="gt-btn" type="submit" form="new_user"
      data-mdb-ripple="true"
      data-mdb-ripple-color="light"
      data-mdb-ripple-centered="true"
      data-mdb-ripple-duration="1000ms"
      >email reset instructions
    </button>
  </div>
<% end %>
