<footer class="footer">
  <div class="content has-text-centered">
    <small>
      copyright &copy; on this, the <%= Time.now.day.ordinalize %> day of <%= Time.now.strftime("%B").downcase %> in the year of our lord 2022<br />
      this website is not affiliated with anything or anyone<br />
      if you send me legal stuff i will post it on instagram<br /><br />
      <a href="#">tai'shar malkier</a>
    </small>
  </div>
</footer>
