<!DOCTYPE html>
<html>
  <head>
    <title>Streams</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://kit.fontawesome.com/33037d7625.js" crossorigin="anonymous"></script>
  </head>

  <body class="has-navbar-fixed-top">
