
<% flash_type = flash_type == "alert" ? "danger" : "info" %>

<article class="message<%= " is-#{flash_type}" %><%= defined?(size) ? " is-#{size}" : '' %>"
         data-controller="remove" data-remove-target="remove">

  <% if (defined?(headers) ? headers : '') %>
    <div class="message-header">
      <p><%= defined?(title) ? title : flash_type %></p>
      <button class="delete" aria-label="delete" data-action="removal#remove"></button>
    </div>
  <% end %>

  <div class="message-body"><%= defined?(body) ? body : '' %></div>
</article>
