<nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="<%= image_url "logo.svg" %>" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <!-- navbar items -->
    </div>

    <div class="navbar-end">
      <a class="navbar-item is-active"> home </a>
      <a class="navbar-item"> Examples </a>
      <a class="navbar-item"> Documentation </a>

      <span class="navbar-item">
        <% if user_signed_in? %>
          <%= button_to destroy_user_session_path, method: :delete, class: "button is-primary is-inverted" do %>
            <span class="icon">
              <i class="fas fa-sign-out"></i>
            </span>
            <span>sign out</span>
          <% end %>
        <% else %>
          <a class="button is-primary is-inverted" href="<%= new_user_session_path %>">
            <span class="icon">
              <i class="fas fa-sign-in"></i>
            </span>
            <span>sign in</span>
          </a>
        <% end %>
      </span>
    </div>
  </div>
</nav>
