<% flash_type = flash_type == "alert" ? " is-danger" : " is-info" %>

<div class="notification<%= flash_type %>" data-controller="remove">
  <button class="delete" data-action="remove#remove"></button>
  <p class="has-text-centered"><%= defined?(body) ? body : '' %></p>
</div>
