<div class="dropdown-item">
  <div class="field">
    <%= f.label :created, "created at", class: "label" %>
    <p class="control has-icons-right">
      <%=
        f.text_field :created,
                     type: "date",
                     value: stream.created&.to_date,
                     class: "input"
      %>
      <span class="icon is-small is-right">
        <button class="delete is-small"></button>
      </span>
      <p class="help is-info">
        press the <i class="delete is-tiny"></i>
        to clear this filter
      </p>
    </p>
  </div>
</div>
<hr class="dropdown-divider">
<div class="dropdown-item">
  <p class="has-text-weight-bold is-italic is-size-6">created &lt;datetime&gt;</p>
</div>
<hr class="dropdown-divider">
<div class="dropdown-item">
  <p class="help is-size-6">
    the created filter limits the results to those created on a particular date,
    regardless of how many were found by other filters
  </p>
</div>
