<div class="dropdown-item">
  <div class="field">
    <%= f.label :limit, "limit", class: "label" %>
    <p class="control has-icons-left has-icons-right">
      <%=
        f.number_field :limit,
                       autofocus: false,
                       placeholder: "limit",
                       min: 1,
                       class: "input",
                       value: stream.limit.presence || nil,
                       data: {
                         "filter-target" => "input",
                         "panel-target"  => "input",
                         "action"        => "filter#inputChanged"
                       }
      %>
      <span class="icon is-small is-left">
        <i class="fas fa-hand"></i>
      </span>
      <span class="icon is-small is-right">
        <button class="delete is-small" data-action="filter#clearInput"></button>
      </span>
      <p class="help is-info">
        press delete, backspace, or press the
        <i class="delete is-tiny" data-action="click->filter#clearInput"></i>
        to remove this filter
      </p>
    </p>
  </div>
</div>
<hr class="dropdown-divider">
<div class="dropdown-item">
  <p class="has-text-weight-bold is-italic is-size-6">limit &lt;positive integer&gt;</p>
</div>
<hr class="dropdown-divider">
<div class="dropdown-item">
  <p class="help is-size-6">
    the limit filter places a hard limit on how many results will be in the
    stream, regardless of how many were found by other filters
  </p>
</div>
