<div role="alert"
  class="
  inline-flex items-center
  rounded-lg fade show
  mb-6 -mt-11 p-4
  bg-red-100 border-t-8 border-b-8 border-red-700
  text-base text-red-700
  ">
  <p><%= body %></p>
</div>
