
      <footer class="
        flex flex-col w-2/3 items-center justify-center p-5
        bg-white rounded-lg shadow
        ">
        <p class="text-xs text-violet-800 text-center">
          copyright &copy; 2022 on this, the <%= Date.current.day.ordinalize %> day of <%= Time.current.strftime("%B").downcase %> in the year of our lord <%= Date.current.year %><br />
          this website is not affiliated with anything or anyone<br />
          if you send me legal stuff i will post it on instagram<br /><br />
          <a href="#">tai'shar malkier</a>
        </p>
      </footer>
    </main>
  </body>
</html>
