<!--    <footer class="mt-28">
      <div>
        <small>
          copyright &copy; on this, the <%= Date.current.day.ordinalize %> day of <%= Time.current.strftime("%B").downcase %> in the year of our lord <%= Date.current.year %><br />
          this website is not affiliated with anything or anyone<br />
          if you send me legal stuff i will post it on instagram<br /><br />
          <a href="#">tai'shar malkier</a>
        </small>
      </div>
    </footer>-->

    <!--<footer class="bg-gray-100 text-center">
      <div class="container p-6 text-gray-800">
            <h5 class="font-medium mb-2 uppercase">Footer text</h5>

            <p class="mb-4">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
              molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
              aliquam voluptatem veniam, est atque cumque eum delectus sint!
            </p>
      </div>

      <div class="text-center text-gray-700 p-4" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-gray-800" href="https://tailwind-elements.com/">Tailwind Elements</a>
      </div>
    </footer>-->

    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
  </body>
</html>
