<nav class="
  flex flex-wrap items-center justify-between
  relative w-full py-4
  bg-gray-100 shadow-lg
  text-violet-500 hover:text-violet-700 focus:text-violet-700
  navbar navbar-expand-lg navbar-light
  ">
  <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
    <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      class="
      text-violet-500 bg-transparent
      border-0 py-2 px-2.5
      hover:shadow-none hover:no-underline
      focus:outline-none focus:ring-0 focus:shadow-none focus:no-underline
      navbar-toggler
      ">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
        class="w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
      </svg>
    </button>

    <div class="collapse navbar-collapse flex-grow items-center" id="navbarSupportedContent">
      <a class="flex items-center mt-2 mr-1 dt:mt-0" href="#">
        <%= image_tag "logo.svg", class: "ph:h-6 tabp:h-9 tabl:mr-10 dt:h-12" %>
      </a>

      <!-- Left links -->
      <ul class="navbar-nav flex flex-col pl-0 list-style-none mr-auto">
        <li class="nav-item p-2">
          <a class="nav-link text-violet-500 hover:text-violet-700 focus:text-violet-700 p-0" href="#">Dashboard</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="flex items-center relative">
    <!-- Right elements -->
    </div>
  </div>
</nav>
