<%= render "header" %>
<%= render "navbar" %>

<!--
<main class="
  flex flex-wrap gap-10
  items-center justify-evenly
  w-full h-full
  bg-gradient-to-r from-one via-two to-three
  ">

  <section class="
    flex flex-col
    items-center justify-center
    bg-white shadow-2xl rounded-lg

    space-y-4 xs:px-6 sm:px-20 xs:py-3 sm:py-10
    ">
    <div class="border-2 border-purple-500"><p>hi</p></div>
    <div class="border-2 border-purple-500"><p>hi</p></div>
    <div class="border-2 border-purple-500"><p>hi</p></div>
  </section>

  <section class="
    flex flex-col
    items-center justify-center
    bg-white shadow-2xl rounded-lg

    space-y-4 xs:px-6 sm:px-20 xs:py-3 sm:py-10
    ">
    <div class="border-2 border-purple-500"><p>hi</p></div>
    <div class="border-2 border-purple-500"><p>hi</p></div>
    <div class="border-2 border-purple-500"><p>hi</p></div>
  </section>

  <section class="
    flex flex-col
    items-center justify-center
    bg-white shadow-2xl rounded-lg

    space-y-4 xs:px-6 sm:px-20 xs:py-3 sm:py-10
    ">
    <div class="border-2 border-purple-500"><p>hi</p></div>
    <div class="border-2 border-purple-500"><p>hi</p></div>
    <div class="border-2 border-purple-500"><p>hi</p></div>
  </section>-->

  <%= render "footer" %>
