<%= render "header" %>
<%= render "navbar" %>

<main class="flex flex-wrap w-full h-full p-10 gap-10">
  <div class="grow flex flex-col">
    <div class="grow flex flex-col items-end p-10 bg-white rounded-lg shadow-lg">
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
    </div>
  </div>
  <div class="grow-[2] flex flex-col">
    <div class="grow flex flex-col items-center p-10 bg-white rounded-lg shadow-lg">
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
    </div>
  </div>
  <div class="grow flex flex-col">
    <div class="grow flex flex-col items-start p-10 bg-white rounded-lg shadow-lg">
      <p>hello</p>
      <p>hello</p>
      <p>hello</p>
    </div>
  </div>
</main>

<%= render "footer" %>
