<%= render "header" %>

<main class="
  flex flex-col
  items-center justify-center
  w-full h-full
  bg-gradient-to-r from-one via-two to-three
  ">

  <section class="
    flex flex-col
    items-center justify-center
    bg-white shadow-2xl rounded-lg
    mt-6 space-y-4
    min-h-max
    ">

    <article class="
      flex flex-col
      items-center justify-center
      ph:p-6 ph:mx-3 tabp:p-12 tabp:mx-6 w-full
      ">

      <%= yield %>
      <%= render "devise/shared/links" %>

    </article>
  </section>
</main>

<%= render "footer" %>
