<%= render "header" %>

<main class="
  flex flex-col
  items-center justify-center
  w-full h-full
  bg-gradient-to-r from-one via-two to-three
  ">

  <section class="
    flex flex-col box-content
    items-center justify-center
    bg-white shadow-2xl rounded-lg
    space-y-4 ph:px-6 tabp:px-20 ph:py-3 tabp:py-10
    ">

    <article class="
      flex flex-col
      items-stretch justify-center
      ">

      <%= yield %>
      <%= render "devise/shared/links" %>

    </article>
  </section>
</main>

<%= render "footer" %>
