  <%= render "header" %>
    <main class="
      flex flex-col
      items-center justify-center
      w-full h-full
      ">

      <section class="
        flex flex-col box-content
        items-center justify-center
        bg-white shadow-2xl rounded-lg
        space-y-4 xs:px-6 sm:px-20 xs:py-3 sm:py-10
        ">

        <article class="
          flex flex-col
          items-stretch justify-center
          ">

          <%= yield %>
          <%= render "devise/shared/links" %>

        </article>
      </section>
    </main>
  </body>
</html>

